

@mixin form_mixin{
   display: flex;
   flex-direction: column;
   align-items: center;
    max-width: 500px;
    margin: auto;
    
}

.switch,.form_header{
  max-width: 500px;
  margin:  auto;
  text-align: center;
}

.form_header{
  padding-top: 15vh;
  padding-bottom: 20px;
  
}

.form-control{
  display: flex;
  justify-content: center;
}
