form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 300px;
    color: #14a9ff;
    justify-content: center;
    border: 1px solid black;
    
}

.form-control{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}